*
#about{
    min-height: 150px;
    position: relative;
    background-image: url("");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color:#fff;
    background-attachment: fixed;
}
.dark-overlay{
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(73, 73, 73, 0.7);
    width: 100%;
    height: 100%;
}